@font-face {
    font-family: Tech4girls;
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
} 
h1,h2,h3,h4,p,a{
    font-family: Tech4girls;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* section one starts here */
.top{
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    width: 100%;
}
.top-logo{
    width: 18%;
    margin-left: 4%;
    margin-top: 0%;
}
.top-logo h2{
    padding: 0%;
    margin-top: 0%;
    font-size: 30px;
}
.top-bar{
    display:none;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 2%;
}
.top-menu{
    height: 40px;
    width: 60%;
    margin-left: 5%;
    margin-top: 2%;  
}
.top-menu a{
    text-decoration: none;
    color: black;
    padding: 2%;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 100;
}
#don{
    background-color: #ff9C00;
    width: 200px;
}
.top-menu :hover{
    cursor: pointer;
    text-decoration: none;
    color: orangered;
}
/* section one ends here */
/* section two */
.bg-image{
    background-image: url(../images/bg-girl1.png);
    background-size: cover;
    height: 800px;
}
.bg-text{
    padding: 10%;
}
.bg-text h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
   margin-top: 20%;
}
/* section two ends here */
/* section three */
#about{
    background-color: whitesmoke;
}
.text h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.text-wrap{
    display: flex;
}
.wrap-1{
    margin-top: 1%;
    width: 550px;
    height: 550px;
    margin-left: 7%;
    background-color: aqua;
}
.wrap-1 p, h2{
    padding: 25px;
}
.wrap-2{
    width: 500px;
    height: 550px;
    margin-left: 10%;
    margin-top: 1%;
    background-color: orangered;
}
.wrap-2 p, h2{
    padding: 25px;
}
/* section three ends  */
/* section four starts here */
#mission{
    background-color: palegoldenrod;
}
#mission h1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.all{
    display: flex;
}
.mis-img{
    width: 500px;
    height: 400px;
    margin-left: 8%;
    margin-top: 5%;
}
.mis-img img{
    width: 100%;
}
.vision{
    width: 500px;
    height: 400px;
    margin-left: 7%;
    margin-top: 5%;
}
.vision h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.mission h2{
    font-weight: 700;
    font-size: 30px;
}
/* section four ends  */
/* section five starts */
#biz{
    background-color: whitesmoke;
}
.our h2{
  text-align: center; 
  font-weight: 700;
  font-size: 40px; 
}
.work{
    display: flex;
}
#user{
    width: 200px;
    height: 200px;
    margin-left: 15%;
}
#user h3{
    text-align: center;
}
#use{
    width: 120px;
    height: 100px;
    margin-left: 20%;
    background-color: turquoise;
    color: white;
    border-radius: 50%;
    padding: 2%;
}
#laptop{
    width: 200px;
    height: 200px;
    margin-left: 5%;
}
#lap{
    width: 100px;
    height: 100px;
    margin-left: 20%;
    background-color: gold;
    color: white;
    border-radius: 50%;
    padding: 2%;
}
#laptop h3{
    text-align: center;
}
#female{
    width: 200px;
    height: 200px;
    margin-left: 5%;
}
#fem{
    width: 100px;
    height: 100px;
    margin-left: 20%;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2%;
}
#female h3{
    text-align: center;
}
#locate{
    width: 200px;
    height: 200px;
    margin-left: 5%;
}
#loc{
    width: 100px;
    height: 100px;
    margin-left: 20%;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 2%;
}
#locate h3{
    text-align: center;
}

/* section five ends */
/* section six */
#contact{
    background-color: whitesmoke;
}
.main{
    display: flex;
}
.con{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 235, 59, .81);
    margin-left: 10%;
}
.con h2{
    font-size: 40px;
    font-weight: 700;
}
.con p{
padding: 15px;
}
.form{
    margin-left: 5%;
    width: 500px;
    height: 500px;
}
.form p{
    padding: 10px;
}
.form input{
    display: block;
    padding: 10px;
    border: solid 1px;
}
/* section six ends here */
/* section seven */
.donate{
    display: flex;
}
.don-form{
    width: 600px;
    height: 650px;
}
.don-form h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.don-form input{
    display: block;
    border: solid 1px;
    padding: 15px;
    width: 400px;
    margin-top: 1%;
}
.don-form form{
    margin-left: 10%;

}
.don-form img{
 width: 400px;
 margin-left: 10%;
}
#btn{
    background-color: rgb(89, 89, 230);
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10%;
    color: #ffffff;
    margin-top: 3%;
}
.don-text{
    width: 600px;
    background-color: orangered;
}
.don-text p{
    padding: 25px;
    margin-top: 5%;
}
/* section seven ends here */
/* section eight starts here */
#spons{
    background-color: wheat;
}
#cola1 h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 40px;

}
#partners{
    display: flex;
}
#btn1{
    border: solid #ED3237;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    background-color: #ED3237;
    border-radius: 2px;
}
#btn1 a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    margin: 20px;

}
#first{
    margin-left: 5%;
}
#second{
    margin-left: 3%;
}
#third{
    margin-left: 4%;
}
#four{
    margin-left:4%;
}
#five{
    margin-left: 5%;
}
#six{
    margin-left: 7%;
}

/* section eight ends here */
/* footer section */
.foot{
    display: flex;
    background-color: whitesmoke;
}
.social{
    padding: 2%;
    margin-left: 10%;
    width: 20%;
}
.social #handle{
    margin-left: 5%;
}
footer{
    margin-left: 40%;
    padding: 2%;
}
/* footer section ends here */
@media(max-width:650px){
    /* section one media  */
    .top{
        height: 80px;
        background-color: whitesmoke;
        display: flex;
        width: 100%;
        /* position: fixed; */
    }
    .top-logo{
        width: 18%;
        margin-left: 4%;
        margin-top: 1%;
    }
    .top-bar{
        display:block;
        cursor: pointer;
        margin-left: 55%;
        margin-top: 5%;
    }
    .top-bar :hover{
        color: #ff9C00;
    }
    .top-menu{
        height: 40px;
        margin-left: 0%;
        top: 15%;
        display: none;
        position: absolute;
    }
    .top-menu a{
        display: block;
        background-color: #ff9C00;
        margin-left: 0%;
        width: 160%;
        font-size: 30px;
        border-radius: 5px;
        margin-top: 1%;
        z-index: 1;
    }
    #home{
        margin-top: 22%;
    }
    #don{
        width: 160%;
        border-radius: 5px;
    }
    .top-menu :hover{
        color: #ffffff;
    }
    .empty{
        display: block;
    }
    /* section one media ends here  */
    .bg-text h1{
        text-align: center;
        color: #ffffff;
        font-size: 40px;
       margin-top: 45%;
    }
    /* section three media starts here */
    .text-wrap{
        display: block;
    }
    .wrap-1{
        margin-top: 0%;
        width: 100%;
        height: 650px;
        margin-left: 0%;
        background-color: aqua;
    }
    .wrap-1 p, h2{
        padding: 15px;
    }
    .wrap-2{
        width: 100%;
        height: 600px;
        margin-left: 0%;
        margin-top: 0%;
        background-color: orangered;
    }
    .wrap-2 p, h2{
        padding: 15px;
    }
    /* section three media ends here */
    /* section four media */
    .all{
        display: block;
    }
    .mis-img{
        width: 100%;
        height: 400px;
        margin-left: 0%;
        margin-top: 5%;
    }
    .vision{
        width: 100%;
        height: 400px;
        margin-left: 0%;
        margin-top: 0%;
    }
    /* section four media ends here */
    /* section five media */
    /* .our{
        width: 100%;
    } */
    .work{
        display: block;
    }
    #user{
        width: 90%;
        height: 200px;
        margin-left: 1%;
    }
    #laptop{
        width: 90%;
        height: 200px;
        margin-left: 1%;
    }
    #female{
        width: 90%;
        height: 200px;
        margin-left: 1%;
    }
    #locate{
        width: 90%;
        height: 200px;
        margin-left: 1%;
    }
    #use{
        width: 100px;
        height: 100px;
        margin-left: 27%;
        background-color: turquoise;
        color: white;
        border-radius: 50%;
        padding: 2%;
    }
    #lap{
        width: 100px;
        height: 100px;
        margin-left: 27%;
        background-color: gold;
        color: white;
        border-radius: 50%;
        padding: 2%;
    }
    #fem{
        width: 100px;
        height: 100px;
        margin-left: 29%;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2%;
    }
    #loc{
        width: 100px;
        height: 100px;
        margin-left: 29%;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 2%;
    }
    /* section five media ends here */
    /* section six media */
    .main{
        display: block;
    }
    .con{
        width: 99%;
        height: 500px;
        background-color: rgba(255, 235, 59, .81);
        margin-left: 1%;
    }
    .form{
        margin-left: 1%;
        width: 99%;
        height: 500px;
    }
    /* section six media ends here */
    /* section seven media */
    .donate{
        display: block;
    }
    .don-form{
        width: 100%;
        height: 600px;
    }
    .don-form input{
        display: block;
        border: solid 1px;
        padding: 15px;
        width: 90%;
        margin-top: 1%;
    }
    .don-form form{
        margin-left: 10%;
    
    }
    .don-form img{
        width: 90%;
        margin-top: 10px;
    }
    .don-text{
        width: 100%;
        background-color: orangered;
    }
    .don-text p{
        padding: 25px;
        margin-top: 5%;
    }
/* section seven media ends here */
/* section eight media */
#partners{
    display: block;
}
/* #pat{
    width: 100%;
} */
#first{
    margin-left: 1%;
    width: 90%;
}
#second{
    margin-left: 1%;
    width: 90%;
}
#third{
    margin-left: 1%;
    width: 90%;
}
#four{
    margin-left: 1%;
    width: 90%;
}
#five{
    margin-left: 1%;
    width: 90%;
}
#six{
    margin-left: 1%;
    width: 90%;
}
/* section eight media ends here */
/* section nine media */
.foot{
    display: block;
    background-color: whitesmoke;
}
.social{
    padding: 2%;
    margin-left: 10%;
    width: 30%;
}
.social #handle{
    margin-left: 5%;
}
footer{
    margin-left: 4%;
    padding: 2%;
    width: 90%;
}
/* section nine media ends here */
}